@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    --mainColor: teal;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 0;
    margin: 0;
}

#progress {
    box-shadow: #44DA4F 0px 5px 2px 0px;
    top: 80%;
    background: rgba(23, 23, 23, 0.35);
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 15px;
    align-items: center;
    position: fixed;
    height: 40px;
    width: 300px;
}

#progress-text {
    width: fit-content;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #44DA4F;
}

#progress-value {
    border-radius: 15px;
    height: 40px;
    width: 0%;
}

.color {
    box-shadow: 0 10px 40px -10px var(--mainColor);
    background: var(--mainColor);
}

@keyframes glow {
    0% {
      /* width: 5%; */
    }
  
    100% {
      /* width: 100%; */
      box-shadow: 0 10px 40px -10px var(--mainColor);
      box-shadow: 0 0 40px var(--mainColor);
    }
}

@keyframes load {
    0% { width: 5%; }
    100% { width: 100%; }
}

.hidden {
    display: none;
}